/* div {
  border: 1px solid blueviolet;
} */
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/Gilroy-Light.otf);
}

.body {
  background-color: white;
  max-width: 1920px;
  max-height: 960px;
  font-family: "Roboto", sans-serif;
  margin: 0 0;
}
.header {
  height: 60px;
  width: 1920px;
}
.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 117px;
  padding-right: 121px;
}
.header-container__block {
    padding-top: 8px;
  font-family: Gilroy-ExtraBold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  
}
.square {
  width: 70px;
  height: 70px;
  background: #262525;
  position: absolute;
  top: 25px;
}
.square--left {
  left: 25px;
}
.square--right {
  /* right: 25px; */
  left: calc(100% - 95px);
  background: url("img/IconBurger.png") 50% 50% no-repeat, #262525;
}
.menu-block {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  font-size: 12px;
  line-height: 15px;
  box-sizing: border-box;
  letter-spacing: 1.1px;
  font-family: Gilroy-ExtraBold;
}
.menu-block__item {
 margin: 0px 21.5px;
 padding-top: 4px;
 padding-bottom: 7px;
 padding-left: 6.5px;
 padding-right: 6.5px;
 cursor: pointer;
}
.menu-block__item--border-bottom {
    border-bottom: 4px solid red;
}

.header-container__block--row{
    display: flex;
    flex-direction: column;
}

/* .menu-block__item:hover {
  margin: 0px 28px;
  padding-bottom: 8px;
  border-bottom: 4px solid #d88f5e;
} */

/* .menu-block__item:hover:after{
    width: 100%;
} */
/* .menu-block__item::after {
    margin-top: 8px;
    display: block;
    content: "";
    height: 4px;
    width: 0%;
    background-color: #d88f5e;
    transition: width .3s ease-in-out;
} */
.menu-block__item--about:hover{
    /* width: 100%; */
    color: #e74c3c;
}
.line {
    position: relative;
    top:-4px;
    width:102px; 
    height:4px;
    /* background-color: #d88f5e; */
    background-color: royalblue;
    margin-left: 24px;
    transition: 0.5s;
}
/* .menu-block__item--about:hover header-container__block{

    border: 5px solid red;
} */
.menu-block__item--features:hover ~ .line{
    width: 240px;
}




/* .header-container__block::after {
    margin-top: 8px;
    display: block;
    content: "";
    height: 4px;
    width: 0%;
    background-color: #d88f5e;
    transition: width .3s ease-in-out; 
} */



.main {
  width: 100%;
  /* width: 1800px; */
  /* margin: 0 auto; */
  height: 100%;
  /* justify-content: space-between; */
}
.content--about {
  /* max-width: 1800px; */
  height: 840px;
  margin: 0 60px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.content--features,
.content--penthouse,
.content--choise {
  background: #f0f0f0;
  /* width: 1800px; */
  height: 840px;
  margin: 0 60px;
  border: orangered;
  font-family: Gilroy-ExtraBold;
  text-align: center;
  padding: 50px;
  font-size: 24px;
  /* height: 100%; */
}
.content--hide {
  display: none;
}
.nav-bar {
  width: 15.7777%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.nav-bar__item {
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #505050;
  padding-bottom: 3.8%;
}
.nav-bar__item--hover {
  background: #ebd8cc;
  position: relative;
  left: 4px;
  top: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
.content-block {
  width: 84.22222%;
  max-height: 840px;
  display: flex;
  flex-direction: row;
}
.content-block--hide {
  display: none;
}
.description {
  width: 50%;
  background: #f0f0f0;
  box-sizing: border-box;
}
.description-container {
  padding-top: 39%;
  padding-bottom: 18.92%;
  padding-left: 22.666%;
  padding-right: 20%;
}
.description-container__title {
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  padding-bottom: 4.6452%;
  font-family: Gilroy-ExtraBold;
}

.description-container__info {
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 17.976%;
  font-family: Gilroy-Light;
}
.description-container__num-block {
  color: #505050;
  font-size: 17px;
  line-height: 20px;
}
.pic-block {
  width: 50%;
  height: 100%;
}
.pic-block--first {
  background: url("img/pic-1.png") 50% 50%;
  background-repeat: no-repeat;
}
.pic-block--second {
  background: url("img/pic-2.png") 50% 50%;
  background-repeat: no-repeat;
}
