@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(fonts/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/Gilroy-Light.otf);
}

.body {
  background-color: white;
  max-width: 1920px;
  max-height: 960px;
  font-family: "Roboto", sans-serif;
  margin: 0 0;
}
.header {
  height: 60px;
  width: 100%;
}
.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 117px;
  padding-right: 121px;
}
.header-container__block {
  padding-top: 0.75%;
  font-family: Gilroy-ExtraBold;
  font-size: 0.88vw;
  line-height: 0.937vw;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: space-between;
}
.square {
  width: 3.645vw;
  height: 3.645vw;
  background: #262525;
  position: absolute;
  top: 25px;
  z-index: 99;
}
.square--left {
  left: 25px;
}
.square--right {
  left: calc(100% - 95px);
  background: url("img/IconBurger.png") 50% 50% no-repeat, #262525;
}
.tabs-block {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  font-size: 0.625vw;
  line-height: 0.781vw;
  box-sizing: border-box;
  letter-spacing: 1.1px;
  font-family: Gilroy-ExtraBold;
}
.tabs-block__tab {
  margin: 0px 21.5px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  cursor: pointer;
}
.header-container__block--row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.line {
  top: 34px;
  width: 5.6vw;
  height: 4px;
  background-color: #d88f5e;
  left: 21.5px;
  transition: 0.7s;
  position: absolute;
}

.main {
  width: 100%;
  height: 100%;
}
.content--about {
  height: 840px;
  margin: 0 60px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.content--features,
.content--penthouse,
.content--choise {
  background: #f0f0f0;
  height: 840px;
  margin: 0 60px;
  border: orangered;
  font-family: Gilroy-ExtraBold;
  text-align: center;
  padding: 50px;
  font-size: 24px;
}
.content--hide {
  display: none;
}
.nav {
  width: 15.7777%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.nav__item {
  box-sizing: border-box;
  font-weight: 300;
  font-size: 0.677vw;
  line-height: 15px;
  color: #505050;
  padding-bottom: 32px;
  position: relative;
  z-index: 4;
}
.nav__item--background {
  width: 0%;
  height: 0.468vw;
  background: #ebd8cc;
  position: absolute;
  left: -4px;
  top: 8px;
  z-index: -1;
}
.nav__item:hover .nav__item--background {
  width: 100%;
  transition: 0.5s;
  padding-left: 4px;
  padding-right: 4px;
}
.nav__item--background-hover {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.nav__item--selected {
  font-size: 0.729vw;
  font-weight: 800;
  text-transform: uppercase;
}

.content-block {
  width: 84.22222%;
  max-height: 840px;
  display: flex;
  flex-direction: row;
}
.content-block--hide {
  display: none;
}
.description {
  width: 50%;
  box-sizing: border-box;
  position: relative;
  background: #f0f0f0;
  z-index: 10;
  overflow: hidden;
}
.description-block {
  height: 0%;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  background: #f0f0f0;
  opacity: 0;
}
.disc-show {
  opacity: 1;
  height: 100%;
  padding-top: 30.5vh;
  padding-bottom: 30.5vh;
  padding-left: 22.666%;
  padding-right: 20%;
  transition: height 0.5s, opacity 0.7s, padding-top 0.5s, padding-bottom 0.5s;
}

.description-block-cover {
  width: 100%;
  height: 30.5vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: #f0f0f0;
}

.description-block__title {
  font-weight: 800;
  font-size: 2.291vw;
  line-height: 2.8125vh;
  padding-bottom: 4.6452%;
  font-family: Gilroy-ExtraBold;
}

.description-block__info {
  font-family: Gilroy-Light;
}
.description-block__num-block {
  color: #505050;
  background: #f0f0f0;
  width: 100%;
  font-size: 0.885vh;
  line-height: 1.04vh;
  position: absolute;
  padding-top: 7.8125vh;
  padding-left: 8.958vh;
  padding-bottom: 8.2812vh;
  bottom: 0px;
  box-sizing: border-box;
  z-index: 20;
}
.description-block__cutter {
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
  line-height: 0.885vw;
  background: #262525;
  text-align: center;
  display: none;
}

.description-block__link {
  color: #f0f0f0;
  text-decoration: none;
}

.description-block__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 88px;
  font-size: 0.9375vw;
  line-height: 30px;
}

.description-block__cutter--show {
  display: block;
}

.picture {
  width: 50%;
  position: relative;
}

.pic-block {
  height: 0%;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  z-index: 0;
  bottom: 0;
}
.pic-block--1 {
  background: url("img/pic-1.png") 50% 50%;
}
.pic-block--2 {
  background: url("img/pic-2.png") 50% 50%;
}
.pic-block--3 {
  background: url("img/pic-3.png") 50% 50%;
}
.pic-block--4 {
  background: url("img/pic-4.png") 50% 50%;
}
.pic-block--5 {
  background: url("img/pic-5.png") 50% 50%;
}
.pic-block--6 {
  background: url("img/pic-6.png") 50% 50%;
}
.current-pic {
  height: 100%;
  z-index: 1;
}

.pic-show {
  height: 100%;
  transition: height 0.3s;
  z-index: 10;
  top: 0;
}

.footer {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  color: #505050;
  font-family: Gilroy-Light;
  font-size: 13px;
  padding-left: 60px;
}
.footer__delimiter {
  padding: 0px 20px;
}
